[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
markdown = "*"
django-filter = "*"
django-rest-knox = "*"
django = "==3.2.11"
jinja2 = "*"
boto3 = "*"
django-ckeditor = "*"
pillow = "*"
djoser = "*"
django-cors-headers = "*"
djangorestframework-simplejwt = "*"

[dev-packages]
yapf = "*"

[requires]
python_version = "3.9"
